/*全局样式*/
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

/*用户列表面包屑导航区域*/
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px !important;
}

/*用户列表卡片视图区域*/
.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

/*用户列表表格距离上面的间距*/
.el-table {
    margin-top: 15px;
    font-size: 12px !important;
}

/* 用户列表分页栏距离上面的距离 */
.el-pagination {
    margin-top: 15px;
}

/* 角色一级分类标签上下距离 */
.el-tag {
    margin: 7px;
}

/* 角色一级分类标签 边框线 */
.bdtop {
    border-top: 1px solid #eee;
}

.bdbottom {
    border-bottom: 1px solid #eee;
}

/* 角色列表-分类纵向居中 */
.vcenter {
    display: flex;
    align-items: center;
}

/* 解决级联选择器没有滚动条 */
.el-scrollbar__wrap {
    height: 200px !important;
}

/* 添加商品列表页 步骤条 */
.el-steps {
    margin: 15px 0;
}

/* 添加商品列表页 步骤条文字 */
.el-step__title {
    font-size: 13px !important;
}

/* 添加商品复选框之间的距离 */
.el-checkbox {
    margin: 0 5px 0 0 !important;
}

/* 富文本最小高度 */
.ql-editor{
    min-height: 300px;
}
